[submodule "lib/libgit2"]
	path = lib/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "cmake/sanitizers-cmake"]
	path = cmake/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
